$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@font-face {
  font-family: 'NeoSans';
  src: url('../fonts/neosansstd-regular-webfont.eot');
  src: url('../fonts/neosansstd-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/neosansstd-regular-webfont.woff') format('woff'), url('../fonts/neosansstd-regular-webfont.ttf') format('truetype'), url('../fonts/neosansstd-regular-webfont.svg#NeoSansStdRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NeoSans';
  src: url('../fonts/neosansstd-medium-webfont.eot');
  src: url('../fonts/neosansstd-medium-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/neosansstd-medium-webfont.woff') format('woff'), url('../fonts/neosansstd-medium-webfont.ttf') format('truetype'), url('../fonts/neosansstd-medium-webfont.svg#NeoSansStdMedium') format('svg');
  font-weight: bold;
  font-style: normal;
}

// Basic setting
@mixin bold {font-weight: 600;}
@mixin normal {font-weight: normal;}
@mixin neo {font-family: 'NeoSans', sans-serif;}
@mixin light {font-weight: 100;}
@mixin light-2 {font-weight: 200;}
@mixin left {float: left !important;}
@mixin right {float: right !important;}

// Color variables
$white: #fff;
$black: #000;
$ccc: #ccc;
$light: #f2f2f2;

// Basic
$primary: #007b82;
$secondary: #66acb3;
$tooltip: #aed477;

// Alerts
$good: #3BA656;
$bad: #fa4266;
$alert: #f2d84b;
$red: $bad;
$asset: #8c004c;

// Colors array
$colors: #005b7f, #007dac, #00a99d, #6cc17b, #a7003d, #6f2c91, #4b0049;

/* Base reset of bootstrap */
body, h1, h2, h3, h4, h5, h5 {
    @include bold;
    @include neo;
}

body {
  @include normal;
  position: relative;
  padding-bottom: 100px;
  background: #f5f5f5 url(../images/bgSitio.jpg);
}

a:focus {outline:0;}

.container {min-width: 900px;}

#content {
  background-color: $white;
  padding: 0;
}

#toolbox, #graph, #guide {
  margin: 1em 2em;
  .panel {
    background-color: $light;
    border: 1px solid $ccc;
    padding: 1em 1.5em;
    border-radius: 0;
  }
}

/* Toolbar of the sites from VTR */
.toolbar {
  margin-bottom: 50px;
  height: 44px;
  background-color: black;
  border-bottom: 1px solid rgba(white, 0.25);
  .container {
    background: url(../images/vtrlogochico.png) no-repeat right;
  }
  ul {
    margin-top: 12px;
    li {
      border-right: 1px solid rgba(white, 0.8);
      padding-right: 10px;
      // line-height: 16px;
      &:last-child {border-right: none;}
      a {
        color: rgba(white, 0.8);
        font-size: 12px;
        // line-height: 14px;
      }
    }
  }
}

/* Header */
#top {
  z-index: 9999;
  background-color: $black;
  color: $white;
  // height: 90px;
  img {
    margin: 20px;
    height: 50px;
  }
  h2, h4 {
    margin: 0;
    line-height: 1;
  }
  h2 {
    font-size: 2em;
    margin-top: 25px;
  }
  h4 {font-size: 1em;}
  p {
    margin: 0;
    font-size: 1em;
    margin-top: 25px;
  }
}

#introduction {
  margin: 2em;
  span {
    color: $red;
  }
}

/* Loop of selectors for user and device */
#toolbox {
  h4 {@include light;}
  .loop {
    float: left;
    width: 23%;
    margin: 1%;
  }
  .step {
    // border-bottom: 1px solid $ccc;
    // padding-bottom: 1.5em;
    // margin-bottom: 1em;
  }
  .step-label {
    @include bold;
    width: 70px;
    padding: 5px 10px;
    margin: -1em 0 0 -1.5em;
    background-color: $red;
    color: $white;
  }
  .fake-margin {
    width: 11.5%;
    background: transparent;
  }
}

.selectorBox {
  border-radius: 5px;
  height: 75px;
  background-color: #007b82;
  .pull-left {
    width: 80%;
    img {
      position: absolute;
      width: 40px;
      margin: 15px 10px 0;
    }
    p {
      position: relative;
      margin-left: 65px;
      margin-top: 18px;
      width: 50%;
      text-align: center;
      color: $white;
    }
  }
  .pull-right {
    width: 20%;
    height: 75px;
    background-color: $secondary;
    border-radius: 5px;
    a, .total {
      width: 100%;
      height: 25px;
      display: block;
      text-align: center;
      color: $white;
      .glyphicon {
        line-height: 20px;
      }
    }
    a:hover {
      text-shadow: 0 1px 3px rgba($black, 0.5);
    }
    .total {
      height: 25px;
      line-height: 25px;
      border-top: 1px solid $primary;
      border-bottom: 1px solid $primary;
    }
  }
}

.step.second {
  .selectorBox {
    height: 100px;
    .pull-left {
      img {
        width: 120px;
        margin: 0 10px;
      }
      p {
        margin: 10px 10px 5px;
        width: auto;
        text-align: left;
        a {
          color: $white;
          text-decoration: none;
        }
        span {
          color: $secondary;
          cursor: pointer;
        }
      }
    }
    .pull-right {
      height: 100px;
      .total {
        height: 50px;
        line-height: 50px;
      }
    }
  }
}

.step.disable {
  opacity: .8;
}

#graph {
  h4 {
    @include light;
    margin-bottom: 2em;
  }
  .content-border {
    border: 1px solid $ccc;
  }
  .box-bar {
    background-color: $white;
    border-bottom: 1px solid $ccc;
    padding: 2.5rem 2rem 2rem;
    p {
      line-height: 3rem;
      margin-bottom: 0;
    }
    .header-bar {
      margin-top: -5px;
      img {
        width: 40px;
        margin-right: 20px;
      }
    }
    .result-list {@include bold;}
    .progress {margin-bottom: 0;}
  }
}

#graph.disable {
  opacity: .8;
}

@for $i from 1 through length($colors) {
    $c: nth($colors, $i);
    // ... do something fancy with $c
    .box-bar:nth-child(#{$i}) p {
      color: $c;
    }
    .box-bar.active:nth-child(#{$i}){
      background-color: rgba($c, 0.15);
      cursor: pointer;
      box-shadow: 0 0 10px rgba($black, .25);
    }
}

#svg {
  width: 425px;
  height: 425px;
  margin: 0 auto;
}

#reset {
  padding: 2em;
  text-align: center;
  p {
    margin-bottom: 20px;
  }
  .reset-graph {
    color: $white;
    background-color: $primary;
    padding: 15px;
  }
}

#guide {
  padding-top: 1em;
    h4  {
      @include light;
      color: $asset;
      font-size: 16px;
    }
    p {color: darken($ccc, 40%);}
    .small-text {
      color: darken($ccc, 40%);
      font-size: 12px;
    }
    .kind-loop {
      list-style: none;
      padding: 0;
      margin: 2.5em 0 1em;
      width: 100%;
      li {
        @include left;
        width: 14.2%;
        text-align: center;
        p {
        color: darken($ccc, 60%);
        line-height: 1.5;
        margin-bottom: 10px;
        }
        img {width: 60px;}
        .weight{
          @include bold;
          font-size: 1em;
        }
        .detail {
          color: darken($ccc, 60%);
          font-size: .9em;
        }
      }
    }
}

.popover {
  width: 200%;
  background-color: $tooltip;
  border-color: darken($tooltip, 15%);
  .popover-content p {
    color: $primary;
    font-size: 13px;
    // line-height: 1.4;
  }
}
.popover.bottom > .arrow:after {border-bottom-color: $tooltip;}
.step.second .selectorBox .pull-left .popover p {
  margin: 5px 0;
}

#carousel {
  background:#005a7f url(../images/bg-intro.png) no-repeat right bottom;
  min-height: 250px;
  animation-duration: .5s;
  .block {
    padding-top: 3em;
    h4 {
      @include normal;
      font-size: 16px;
      margin: 0 0 0 7em;
      color: rgba($white, .8);
    }
    .pull-right {
      margin: 0;
      margin-right: 11%;
      span {
        color: rgba($white, 0.5);
        cursor: pointer;
        font-size: 22px;
        &:hover {
          color: rgba($white, 0.75);
        }
      }
    }
  }
  .carousel-indicators {
    bottom: 0;
  }
  .item {
    color: $white;
    .margin {
      margin: 0em 16em 0 8em;
      h3 {
        margin: 0 0 1.5em;
        font-size: 20px;
      }
      p {
        margin: 0;
        color: rgba($white, .8);
      }
    }
  }
  .carousel-control {
    width: 10%;
  }
  .carousel-control.left {
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.25) 100%);
    &:hover {
      background-image: linear-gradient(to left, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.25) 100%);
    }
  }
  .carousel-control.right {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.25) 100%);
    &:hover {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.25) 100%);
    }
  }
}

/* Media querys */
@media (min-width: $screen-xs-min) {
   /* rules for mobile horizontal (480 > 768)  */
}
@media (min-width: $screen-sm-min) {
   /* rules for tablet (768 > 992) */
}
@media (min-width: $screen-md-min) {
   /* rules for desktop (992 > 1200) */
}
@media (min-width: $screen-lg-min) {
   /* rules for large (> 1200) */
}
