$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@font-face {
  font-family: 'NeoSans';
  src: url('../fonts/neosansstd-regular-webfont.eot');
  src: url('../fonts/neosansstd-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/neosansstd-regular-webfont.woff') format('woff'), url('../fonts/neosansstd-regular-webfont.ttf') format('truetype'), url('../fonts/neosansstd-regular-webfont.svg#NeoSansStdRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NeoSans';
  src: url('../fonts/neosansstd-medium-webfont.eot');
  src: url('../fonts/neosansstd-medium-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/neosansstd-medium-webfont.woff') format('woff'), url('../fonts/neosansstd-medium-webfont.ttf') format('truetype'), url('../fonts/neosansstd-medium-webfont.svg#NeoSansStdMedium') format('svg');
  font-weight: bold;
  font-style: normal;
}

// Basic setting
@mixin bold {font-weight: 600;}
@mixin normal {font-weight: normal;}
@mixin neo {font-family: 'NeoSans', sans-serif;}
@mixin light {font-weight: 100;}
@mixin light-2 {font-weight: 200;}
@mixin left {float: left !important;}
@mixin right {float: right !important;}

// Color variables
$white: #fff;
$black: #000;
$ccc: #ccc;
$light: #f2f2f2;

// Basic
$primary: #007b82;
$secondary: #66acb3;
$tooltip: #aed477;

// Alerts
$good: #3BA656;
$bad: #D05050;
$alert: #f2d84b;
$red: $bad;
$asset: #8c004c;

// Colors array
$colors: #005b7f, #007dac, #00a99d, #6cc17b, #a7003d, #6f2c91, #4b0049;

/* Base reset of bootstrap */
body, h1, h2, h3, h4, h5, h5 {
    @include bold;
    @include neo;
}

body {
  @include normal;
  position: relative;
  // padding-top: 70px;
  background-color: #f5f5f5;
}

#content {
  background-color: $white;
  padding: 0;
}

#toolbox, #graph, #guide {margin: 1em 2em;}

/* Header */
#top {
  background-color: $black;
  color: $white;
  // height: 90px;
  img {
    margin: 20px;
    height: 50px;
  }
  h2, h4 {
    margin: 0;
    line-height: 1;
  }
  h2 {
    font-size: 2em;
    margin-top: 25px;
  }
  h4 {font-size: 1em;}
  p {
    margin: 0;
    font-size: 0.8em;
    margin-top: 25px;
  }
}

/* Loop of selectors for user and device */
#toolbox {
  h4 {@include light;}
  .loop {
    float: left;
    width: 23%;
    margin: 1%;
  }
  .step {
    border-bottom: 1px solid $ccc;
    padding-bottom: 1.5em;
    margin-bottom: 1em;
  }
}

.selectorBox {
  border-radius: 5px;
  height: 75px;
  background-color: #007b82;
  .pull-left {
    width: 80%;
    img {
      position: absolute;
      width: 40px;
      margin: 15px 10px 0;
    }
    p {
      position: relative;
      margin-left: 65px;
      margin-top: 18px;
      width: 50%;
      text-align: center;
      color: $white;
    }
  }
  .pull-right {
    width: 20%;
    height: 75px;
    background-color: $secondary;
    border-radius: 5px;
    a, .total {
      width: 100%;
      height: 25px;
      display: block;
      text-align: center;
      color: $white;
      .glyphicon {
        line-height: 20px;
      }
    }
    a:hover {
      text-shadow: 0 1px 3px rgba($black, 0.5);
    }
    .total {
      height: 25px;
      line-height: 25px;
      border-top: 1px solid $primary;
      border-bottom: 1px solid $primary;
    }
  }
}

.step.second {
  .selectorBox {
    height: 100px;
    .pull-left {
      img {
        width: 120px;
        margin: 0 10px;
      }
      p {
        margin: 10px 10px 5px;
        width: auto;
        text-align: left;
        span {color: $secondary;}
      }
    }
    .pull-right {
      height: 100px;
      .total {
        height: 50px;
        line-height: 50px;
      }
    }
  }
}

.step.disable {
  opacity: .75;
}

#graph {
  h4 {
    @include light;
    margin-bottom: 2em;
  }
  .content-border {
    border: 1px solid $ccc;
  }
  .box-bar {
    border-bottom: 1px solid $ccc;
    padding: 2.5rem 2rem 2rem;
    p {
      line-height: 3rem;
      margin-bottom: 0;
    }
    .header-bar {
      margin-top: -5px;
      img {
        width: 40px;
        margin-right: 20px;
      }
    }
    .result-list {@include bold;}
    .progress {margin-bottom: 0;}
  }
}

@for $i from 1 through length($colors) {
    $c: nth($colors, $i);
    // ... do something fancy with $c
    .box-bar:nth-child(#{$i}) p {
      color: $c;
    }
    .box-bar.active:nth-child(#{$i}){
      background-color: rgba($c, 0.15);
      cursor: pointer;
      box-shadow: 0 0 10px rgba($black, .25);
    }
}

#svg {
  width: 425px;
  height: 425px;
  margin: 0 auto;
}

#reset {
  padding: 2em;
  text-align: center;
  .reset-graph {
    color: $asset;
  }
}

#guide {
  padding-top: 2em;
    .panel {
      background-color: $light;
      border: 1px solid $ccc;
      padding: 1em 1.5em;
      border-radius: 0;
    }
    h4  {
      @include light;
      color: $asset;
      font-size: 16px;
    }
    p {color: darken($ccc, 40%);}
    .small-text {
      color: darken($ccc, 40%);
      font-size: 12px;
    }
    .kind-loop {
      list-style: none;
      padding: 0;
      margin: 2.5em 0 1em;
      width: 100%;
      li {
        @include left;
        width: 14.2%;
        text-align: center;
        p {
        color: darken($ccc, 60%);
        line-height: 1.5;
        margin-bottom: 10px;
        }
        img {width: 60px;}
        .weight{
          @include bold;
          font-size: 1em;
        }
        .detail {
          color: $asset;
          font-size: .8em;
        }
      }
    }
}

/* Media querys */
@media (min-width: $screen-xs-min) {
   /* rules for mobile horizontal (480 > 768)  */
}
@media (min-width: $screen-sm-min) {
   /* rules for tablet (768 > 992) */
}
@media (min-width: $screen-md-min) {
   /* rules for desktop (992 > 1200) */
}
@media (min-width: $screen-lg-min) {
   /* rules for large (> 1200) */
}
